nav {
  display: flex;
  justify-content: center;
  background: $green;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0rem 0rem;
  margin-bottom: 0px;
}

nav a {
  text-decoration: none;
  color: #57467B;
  font-weight: 600;
}

nav li {
  margin: 1rem;
}

.header {
  width: 100%;
  height: 20vh;
  background-color: $green;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title {
  font-size: 65px;
  font-weight: 900;
}

.search-icon {
  font-size: 60px;
  font-weight: 700;
}

/*Media Queries*/

/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .header-title {
    font-size: 30px;
  }
  .search-icon {
    font-size: 25px;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .header-title {
    font-size: 50px;
  }
  .search-icon {
    font-size: 45px;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
  .header-title {
    font-size: 65px;
  }
  .search-icon {
    font-size: 60px;
  }
}
